<div class="notification-toast <%= kind %>" data-notification-item="1" data-kind="<%= kind %>">
  <div class="notification-toast-body"><%= message %></div>
  <button type="button" class="notification-toast-close" data-action="notification-center#dismiss" aria-label="Dismiss notification">&times;</button>
</div>
